:root {
    /*sections backgrounds*/
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
     /*paragraphs*/
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    /*backgound, headings, buttons*/
    --very-light-gray: hsl(0, 0%, 95%);
}


body {
    background-color: var(--very-light-gray);
}

h1 {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: xx-large;
    font-weight: 700;
    color: var(--very-light-gray);
}

p {
    font-family: "Lexend Deca";
    font-weight: 300;
    font-size: 14px;
    color: var(--transparent-white);
    line-height: 25px;
    display: block;
    margin-block-start: 3em;
}

button {
    font-family: 'Lexend Deca';
    font-weight: 400;
    border-radius: 50px;
    border: none;
    align-items: center;
    align-content: center;
    line-height: 40px;
    width: 20vh;
    cursor: pointer;
}

main {
    background-color: white;
    box-shadow: 0 0 20px 5px rgb(159, 157, 157);
    border-radius: 10px;
}

.sedans {
    background-color: var(--bright-orange);
}

.sedans button {
    color: var(--bright-orange);
}

.suvs {
    background-color: var(--dark-cyan);
}

.suvs button {
    color:var(--dark-cyan)
}

.luxury {
    background-color: var(--very-dark-cyan);
}

.luxury button {
    color: var(--very-dark-cyan)
}

.icon-sedans, .icon-suvs, .icon-luxury {
    margin-top: 15px;
}


/*Desktop*/
@media screen and (min-width: 370px) {
    main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .all-sections {
        display: flex;
        margin: 50px;
    }
    
    .content-per-section {
        padding: 2vw 5vh;
    }

    .sedans, .suvs, .luxury {
        width: 270px;
        height: 400px
    }

    .sedans {
        border-radius: 10px 0 0 10px;
    }

    .luxury {
        border-radius: 0 10px 10px 0;
    }

    button {
        margin-top: 10px;
    }
}

/*Mobile Device*/
@media  screen and (max-width: 370px) {
    .all-sections {
        padding: 5px 7px;
        display: block;
    }
    
    .content-per-section {
        padding-block-start: 1vh;
        padding-inline-start: 3vh;
        padding-inline-end: 3vh;
    }

    .sedans, .suvs, .luxury {
        width: 250px;
        height: 400px
    }

    .sedans {
        border-radius: 10px 10px 0 0;
    }

    .luxury {
        border-radius: 0 0 10px 10px;
    }

}

footer {
    margin-top: 20px;
    text-align: center;
    font-family: 'Lexend Deca';
}

a:hover {
    color: red;
}
a {
    color: rgb(172, 34, 172);
    text-decoration: none;
    font-weight: 600;
}